---
import "@/assets/styles/index.css";

interface Props {
	title?: string | undefined;
	description?: string | undefined;
	image?: string | undefined;
}

const {
	title = "Louis Chenais Personal Site",
	description = "The personal site of Louis Chenais",
	image,
} = Astro.props;

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const socialImageURL = new URL(
	image ? image : "/default-social-image.png",
	Astro.url,
).href;
---

<meta charset='UTF-8' />
<meta name='description' property='og:description' content={description} />
<meta name='viewport' content='width=device-width' />
<meta name='generator' content={Astro.generator} />
<title>{title}</title>
<link href={canonicalURL} rel="canonical" />


<link rel='icon' type='image/svg+xml' href='/favicon.svg' />
<link rel="icon" href="/favicon.ico" sizes="32x32">
<link rel="apple-touch-icon" href="/apple-touch-icon.png">
<link rel='sitemap' href='/sitemap-index.xml' />

<!-- Facebook Meta Tags -->
<meta property="og:url" content={Astro.url.href}>
<meta property="og:type" content="website">
<meta property="og:title" content={title}>
<meta property="og:description" content={description}>
<meta property="og:image" content={socialImageURL}>

<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary_large_image">
<meta property="twitter:domain" content="lucho.cool">
<meta property="twitter:url" content={Astro.url.href}>
<meta name="twitter:title" content={title}>
<meta name="twitter:description" content={description}>
<meta name="twitter:image" content={socialImageURL}>
